Flutter/Dart/Pub related

.dart_tool/ .packages .pub/ build/

Flutter specific

.flutter-plugins .flutter-plugins-dependencies .metadata

Android

android/.gradle/ android/app/build/ android/local.properties
android/key.properties .jks .keystore

iOS

ios/Flutter/Flutter.framework ios/Flutter/Flutter.podspec ios/Pods/
ios/.symlinks/ ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

macOS

macos/Flutter/ephemeral/

Web

build/

.flutter-plugins-dependencies

.dart_tool/

windows/flutter/ephemeral/

Linux

linux/flutter/ephemeral/

IDEs

.idea/ .vscode/ *.iml

Logs

*.log

Misc

.DS_Store Thumbs.db

Environment / secrets

.env .env.*

Coverage

coverage/
